<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zk.robotmonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 开机自启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/jiqiren"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExceptionActivity" />
        <activity android:name=".TaskDetailActivity" />
        <activity android:name=".AgvChargeActivity" />

        <service
            android:name="com.zk.service.ZkModbusService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.zk.service.ChargeService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.zk.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity android:name=".QRCodeActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.FixedSize"
            ></activity>
    </application>

</manifest>
